<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MyScreenshotAssistant_for_c_sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MineScreenshotAssistant_for_c_sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyScreenshotAssistant_for_c_sharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <MyScreenshotAssistant_for_c_sharp.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TweetText" serializeAs="String">
                <value />
            </setting>
            <setting name="Hashtag" serializeAs="String">
                <value />
            </setting>
        </MyScreenshotAssistant_for_c_sharp.Properties.Settings>
        <MineScreenshotAssistant_for_c_sharp.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AccessTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="DirectoryPath" serializeAs="String">
                <value />
            </setting>
        </MineScreenshotAssistant_for_c_sharp.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MyScreenshotAssistant_for_c_sharp.Properties.Settings>
      <setting name="version" serializeAs="String">
        <value>v1.2.0</value>
      </setting>
    </MyScreenshotAssistant_for_c_sharp.Properties.Settings>
  </applicationSettings>
</configuration>
